//  M   A   I   N   -   B   O   D   Y
.main-body{
  color: $mobile;
  background-color: $greyer-background;

  &__container{
    @media #{$break3}{
      width: 100%;
    }

    @include center-main-lg;
    position: relative;
    top: -4rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: $greyer-background;

    @media #{$break3}{
      top: 0;
    }

    &__flow-line{

      @media #{$break3}{
        display: none;
      }

      display: flex;
      justify-content: space-around;
      padding-top: 1.5rem;

      .level{
        display: flex;
        justify-content: center;
        align-items: center;

        .number-text{
          font-size: 5.5rem;
          padding-left: .5rem;
          padding-right: .5rem;
        }

        .sub-text{
          max-width: 50%;
        }

        @media #{$break2}{
          .number-text{
            font-size: 3.5rem;
            padding-left: .5rem;
            padding-right: .5rem;
          }

          .sub-text{
            font-size: 1.4rem;
          }
        }
      }

      .icon-next{
        margin: auto;
        padding: .75rem;
        border:1px solid $magazine-border;
        border-radius: 10rem;
      }
    }

    &__offers{
      display: flex;
      padding-top:2rem;

      @media #{$break3}{
        padding-top:0;
      }
      //Right Side
      &--search{

        @media #{$break3}{
          display: none;
        }

        min-width: 15rem;
        flex:1;
        display: flex;
        flex-direction: column;
        @include padding-horizental(2rem);
        padding-top:2rem;

        .search-title{
          border-bottom:1px solid $magazine-border;
          padding-bottom: 1.2rem;
        }

        .search-subtitle{
          @include padding-vertical(1rem);
          line-height:1.5;
          border-bottom:1px solid $magazine-border;
          margin-bottom: 2rem !important;
        }

        .question-line{
          padding: 2rem 0;
          border-bottom:1px solid $magazine-border;
          display:flex;
          justify-content: space-between;
          align-items: center;

          .radio-container {
            min-width: 7rem;
            padding-right: 1rem;

            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
            }

            input:checked ~ .checkmark {
              background-color: $button-hover;
              opacity: 0.9;
            }

            .checkmark{
              padding: .8rem 1rem;
              background-color: $white;
              border: 1px solid $magazine-border;
              color: $mobile;

            }

            p {
              max-width: 65%;
              line-height: 1.3;
            }

          }
        }

        .question-line:first-of-type{
          border-top:1px solid $magazine-border;
          margin-top:1rem;
        }

        .question-line:last-child{
          margin-bottom: 1rem;
        }

        .banner{
          margin-top: 12rem;
        }

      }

      //Left Side
      &--results{
        flex:2.7;

        &--header{
          border:1px solid $magazine-border;
          border-radius: .3rem;
          margin-bottom: 1rem;

          @media #{$break3}{
            border:0;
            text-align: center;

          }

          .result-title{
            padding: 1.5rem;
            border-bottom:1px solid $magazine-border;
            background-color: $grey-background;

            @media #{$break3}{
              border:0;
              font-size: 2rem;
            }
          }

          .result-subtitle{
            padding: 1rem .5rem;
            justify-content: space-between;
            background-color: #fff;

            button{
              color: $mobile;
            }

            &__right-side, &__left-side{

              *{
                margin-left: .5rem;
              }

              > :last-child{
                margin-left: 0;
              }
            }

            @media #{$break3}{
              border: 1px solid $magazine-border;

              p{
                font-size: 1.4rem;
                border:0;
                font-weight: 300;

              }

              button{
                display: none;
              }

              &__right-side,&__left-side{
                flex:1;
                border: 1px solid $magazine-border;
                padding: 1rem .5rem;
                margin: 0 .3rem;
                justify-content: center;
                align-items: baseline;
                .select-regular-small{
                  font-size: 1.1rem;
                  padding-left:1.5rem;
                }
                *{
                  margin-left: .2rem;
                }
              }

            }

          }

        }

        &--content {
          margin-bottom:15rem;

          @media #{$break3}{
            margin-bottom:5rem;
          }

          &__result {
            padding: 1rem 1.5rem;
            background-color: #fff;
            display: flex;
            align-items: center;
            border: 1px solid $magazine-border;
            border-radius: .5rem;
            margin-bottom: 1rem;

            .company-logo {
              border: 1px solid $magazine-border;
              border-radius: .4rem;
              width: 18rem;
              height: 12rem;
            }

            .company-details {
              padding: 1rem 1.5rem;
              max-width: 43rem;
              min-width: 0rem;

              @media #{$break2}{
                display: grid;
                h2,p {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }

              &__name{
                color: $title1;
              }

              &__description{
                font-size: 1.7rem;
              }

              .place-rank {
                justify-content: space-between;
                align-items: center;

                .location{
                  display: flex;
                  align-items: baseline;
                  color: $mobile;

                  .location-icon {
                    margin-left: .5rem;
                  }

                }

                .stars{
                  max-width: 8rem;
                  padding-bottom: .3rem;
                  padding-left: 2rem;
                  display: flex;

                  .star{
                    max-width: 2rem;
                    max-height: 2rem;
                  }
                }

              }

              > :not(:last-child) {
                padding-bottom: .5rem;
              }
            }

            .buy {
              padding-right: 1rem;
              border-right: 1px solid $magazine-border;
              font-size: 1.2rem;
              color: $title1;

              h2{
                padding:0;
                margin:0;
              }
              .sub-price{
                font-size: 1.5rem;
                padding-bottom: .5rem;

              }

              .purchase-button {
                padding: .1rem 2rem 1rem 2rem;
                background-color: $expand-button;
                border-radius: 5rem;
                color: #fff;
                font-family: 'Webfont', sans-serif;
                font-weight: bold;
                position: relative;
                display: flex;
                align-items: baseline;
                p{
                  font-size: 1.6rem;
                }
                .cart-icon {
                  position: inherit;
                  top: .5rem;
                  padding-left: 0.2rem
                }
              }

            }

            @media #{$break3}{
              padding: 1.5rem .5rem;
              border-radius: 0;
              justify-content: space-around;
              align-items: center;
              .company-logo{
                max-width: 11rem;
                height: 7rem;
              }
              .company-details {
                padding:0;
                max-width: 10rem;
                &__name{
                  font-size: 1.8rem;
                  white-space: nowrap;
                  padding-right:1.5rem;
                }

                &__description {
                  display: none;
                }

                p{
                  font-size: 1.4rem;
                }

                .place-rank{
                  flex-direction: column-reverse;
                  border-left: 1px solid $magazine-border;
                  margin: .5rem 0 0 0;
                  padding-left: .5rem;

                  .stars{
                    max-width: 8rem;
                    padding-bottom: .3rem;
                    display: flex;

                    .star{
                      width: 2rem;
                      height: 2rem;
                    }
                  }
                }
              }

              .buy{
                border: 0;
                align-items: center;
                display: flex;
                margin:2.5rem 0 0 0;
                padding-left: .5rem;

                .price {
                  padding-right:.1rem;
                  padding-left: .5rem;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  h2 {
                    font-size: 2.2rem;
                  }
                  p {
                    font-size: 1.4rem;
                    white-space: nowrap;
                  }
                }
                .purchase-button {
                  padding: .1rem 1rem .7rem;
                }
                button > p {
                  display: none;
                }
              }

            }

          }
          &__result:hover{
            background-color: $pagination-hover;
          }

          .pages{
            display: flex;
            flex-direction: row-reverse;
            margin-top: 2.5rem;

            @media #{$break3}{
              display: none;
            }

            >*>*{
              padding-right:3rem;
              color: $title1;
              font-size: 2.5rem;
            }

            > :first-child {
              padding-left: 5rem;
            }

          }
        }
      }

    }
  }
}
