//  F   O   O   T   E   R
.footer{
  left: 0;
  bottom: 0;
  border:0;
  background-color: $title1;
  color: #fff;
  margin:0;

  @media #{$break2}{
    h3{
      font-size: 1.7rem;
    }
    p{
      font-size: 1.6rem;
    }
  }

  a{
    color: #fff;
  }

  &__container {

    &__main {
      //@media #{$break2}{
      //  padding: $footer-padding-header-tablet;
      //}
      padding: $footer-padding-header;
      display: flex;
      justify-content: space-between;
      //align-items: flex-start;
      //@include center-footer-lg;

      p:not(:last-child) {
        margin-bottom: 1rem;
      }

      @media #{$break3}{
        padding: $footer-padding-header-mobile;
      }

      &--about {

        @media #{$break3}{
          display: none;
        }

        border-left: 1px solid $magazine-border;
        max-width: 25rem;

        .opposite-logo {
          margin-bottom: 1rem;
          color: $title1;
          letter-spacing: .3rem;
        }
      }

      &--agents {
        @media #{$break3}{
          display: none;
        }

        .opposite-agents-enter {
          padding: .6rem .5rem .5rem .5rem;
          line-height: 1.1;
          border-radius: 2rem;
          text-align: center;

          p {
            font-size: 1.4rem;
          }
        }
      }

      &--details{
        @media #{$break3}{
          display: none;
        }
      }

      &--follow-us {

        @media #{$break3}{
          display: none;
        }


        .facebook-icon {
          padding: .35rem .7rem;
        }
        .twitter-icon {
          padding: .6rem .5rem;
        }
      }

      &--updates {
        border-right: 1px solid $magazine-border;
        max-width: 60%;
        @media #{$break3}{
          border-right: 0;
          max-width: 80%;
          align-items: center;
          padding:0 !important;
          text-align: center;
          margin: 0 auto;
          .email-updates > .email-input{
            padding: .5rem 3rem ;
          }

        }

        .email-updates {
          justify-content: space-between;
          font-weight: normal;
          border-radius: 5rem;
          padding: .7rem;

          .email-input {
            border: 0;
            line-height: 1.2;
            font-size: 1.6rem;

            @media #{$break2}{
              width: 100%;
            }
          }

          .icon-checked {
            margin-left: 1rem;
          }
        }
      }

      > :not(:first-child) {
        padding-right: 3rem;
      }

      > :not(:last-child) {
        padding-left: 3rem;
      }
    }

    &__bottom-line {

      background-color: $footer-background2;

      @media #{$break3}{
        padding: 0 1rem;
      }

      &--text {
        @include center-footer-lg;
        height: 4.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

