//    H   E   A   D   E   R
.header {
  background-color: $startHere;
  height: $header-height;
  color: $title1;

  @media #{$break3}{
    height: $header-height-mobile;
  }

  &__container {
    @media #{$break3}{
      display: none;
      height: 0;
      padding: 0;
    }

    @include center-main-lg;

    &__top-line {
      padding: 1.5rem .5rem .5rem .5rem;
      display: flex;
      justify-content: space-between;

      &--right {
        display: flex;
        align-items: center;

        .icon-search {
          padding-right: 1.5rem;
          margin-right: .8rem;
          border-right: 2px solid $title1;
        }

        > * {
          margin-left: .5rem;
        }

      }
      &--left {
        display: flex;
        align-items: center;

        .icon-person {
          padding-right: .8rem;
          margin-right: .3rem;
          border-right: 2px solid $title1;
        }

        > * {
          margin-left: .5rem;
        }

        > :last-child {
          margin-left: 0;
        }
      }

    }

    &__main {
      flex-direction: column;
      text-align: center;
      width: $header-main-width;
      margin: 0 auto;

      &--title {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        .icon-car {
          margin: 0 1rem;
        }
      }

      &--subtitle {
        line-height: 1.3;
        font-size: 2.4rem;
        word-spacing: .3rem;
      }
    }

  }

  //Mobile Header
  &__container-mobile {

    @media #{$break1} , #{$break2}{
      display: none;
    }

    &__top-line {
      display: flex;
      background-color: $white;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .logo-nav {
        padding: .5rem;

        h2 {
          font-size: 1.6rem;
        }
      }

      .burger-nav {
        cursor: pointer;
        padding: .5rem .5rem 0 0;

        .hamburger-icon {
          height: 3rem;
        }
      }

    }

    &__main {
      flex-direction: column;
      text-align: center;
      margin: 0 auto;

      &--title {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 1rem;

        h1 {
          font-size: 3.75rem;
        }
        .car-icon {
          margin: 0 .5rem;
          height: 4rem;
        }
      }

      &--button {
        padding: 1.5rem 4rem 1.5rem 4rem;
        font-size: 1.5rem;
        background-color: $donut-chart-rating;
        color: $white;
        border-radius: 5rem;
      }
    }

  }

}

.search-modal {
  padding: 2.5rem;
  border: .2rem solid;
  position: absolute;
  right: 35%;
  top: 2%;
  background-color: aliceblue;

  &__form{

    &--input{
      padding: 0.5rem;
      font-size: 1.6rem;
      margin: .5rem
    }

    &--button{
      background-color: skyblue;
      padding: 1.5rem;
      border: .1rem solid burlywood;
      border-radius: .5rem;
      font-size: 1.6rem;
    }

  }
}

