.modal{
  display: none;
  position: fixed;
  z-index: 200;
  top: 6%;
  left: 2.5%;
  width: 90%;
  background: $grey-background;
  box-shadow: 1px 1px 6px $backdrop;
  padding: 1rem;
  color: $mobile;
  p{
    font-size: 1.6rem;
  }
  &__close{
    position: absolute;
    left: 1.25rem;
    top:1.75rem;
    font-size: 1.6rem;
  }
  &__header{
    text-align: center;
    padding:1rem 2.5rem 2rem 2.5rem;
  }

  &__content{
    display: flex;
    flex-direction: column;

    .question-line{
      padding: 2rem 0;
      border-bottom:1px solid $magazine-border;
      display:flex;
      justify-content: space-between;
      align-items: center;

      .radio-container {
        min-width: 7rem;
        padding-right: 1rem;
        background-color: $white;


        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        input:checked ~ .checkmark {
          background-color: $button-hover;
          opacity: 0.9;
        }

        .checkmark{
          padding: .8rem 1rem;
          border: 1px solid $magazine-border;
          color: $mobile;
          background-color: $white;
        }

        p {
          max-width: 65%;
          line-height: 1.3;
        }

      }
    }

    .question-line:first-of-type{
      border-top:1px solid $magazine-border;
      margin-top:1rem;
    }

  }

  &__button{
    width: 100%;
    padding: 2rem 0rem;
    margin: 0 auto;
    text-align: center;
    p{
      color:$white;
      background-color: $startHere;
      padding-top:2rem;
      padding-bottom: 1.7rem;
      border-radius: 5rem;
      font-weight: 600;
    }
  }

}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $backdrop;
  z-index: 100;
}
