<header class="header">
  <!--break1 & 2 Header-->
  <div class="header__container">
    <div class="header__container__top-line">
      <div class="header__container__top-line--right u-medium-text">
        <a href="#">
          <p class="opposite-color-text-white u-medium-text">Compie</p>
        </a>
        <img src="../../assets/images/imgs/couch.png" alt="couch" class="icon-couch">
        <select class="select-header">
          <option><p>ביטוח דירה</p></option>
          <option><p>ביטוח 2</p></option>
          <option><p>ביטוח 3</p></option>
        </select>
        <button (click)="toggleSearchModal()">
          <img src="../../assets/images/imgs/search.png" alt="search" class="icon-search">
        </button>
      </div>
      <div class="header__container__top-line--left">
        <button>
          <img src="../../assets/images/imgs/message.png" alt="message" class="icon-message">
        </button>
        <button>
          <img src="../../assets/images/imgs/person.png" alt="person" class="icon-person">
        </button>
      </div>
    </div>
    <div class="header__container__main">
      <div class="header__container__main--title">
        <h1>ביטוח</h1>
        <img src="../../assets/images/imgs/car.png" alt="car" class="icon-car">
        <h1>רכב</h1>
      </div>

      <h2 class="header__container__main--subtitle">
        על מנת שתוכל לנסוע על הכביש בלי דאגות תן לנו להתאים עבורך את הפוליסה הטובה ביותר עם כיסויים מקיפים במחירים מנצחים ממגוון סוכני הביטוח ושתהיה לכם נסיעה טובה.
      </h2>
    </div>
  </div>
  <!--Mobile Header-->
  <div class="header__container-mobile">
    <div class="header__container-mobile__top-line">
      <a href="#" class="burger-nav">
        <img src="../../assets/images/imgs/hamburger.png" alt="hamburger" class="hamburger-icon">
      </a>
      <a href="#" class="logo-nav">
        <h2 class="opposite-color-text-white u-medium-text">Compie</h2>
      </a>
    </div>
    <div class="header__container-mobile__main">
      <div class="header__container-mobile__main--title">
        <h1>ביטוח</h1>
        <img src="../../assets/images/imgs/car.png" alt="car" class="car-icon">
        <h1>רכב</h1>
      </div>

      <button id="price-master" class="header__container-mobile__main--button">אשף המחיר</button>
    </div>
  </div>
  <app-search-modal
    (searchClicked)="toggleSearchModal()"
    [modalState]="modalState"
  ></app-search-modal>
</header>
