<footer class="footer">
  <div class="footer__container">
    <div class="footer__container__main">
      <div class="footer__container__main--about u-box">
        <a href="#" class="opposite-color-text-dark opposite-logo"><h2>Compie</h2></a>
        <p>לפרומי בלוף קינץ תתיח לרעת. לת צשחמי צש ליא, מנסטו מנסטו צמוקי בלוקריאה מככדש אד</p>
      </div>
      <div class="footer__container__main--agents u-box">
        <h3>סוכנים</h3>
        <ul>
          <li>
            <a href="#"><p>הרשמה למערכת</p></a>
          </li>
          <li>
            <a href="#"><p>צור קשר</p></a>
          </li>
          <li>
            <button class="opposite-color-text-dark opposite-agents-enter"><p>כניסת סוכנים</p></button>
          </li>
        </ul>
      </div>
      <div class="footer__container__main--details u-box">
        <h3>פרטים חשובים</h3>
        <ul>
          <li>
            <a href="#"><p>תנאי שימוש</p></a>
          </li>
          <li>
            <a href="#"><p>מדיניות פרטיות</p></a>
          </li>
          <li>
            <a href="#"><p>צור קשר</p></a>
          </li>
        </ul>
      </div>
      <div class="footer__container__main--follow-us u-box">
        <h3>עקבו אחרינו</h3>
        <ul>
          <li>
            <a href="#" class="u-center-items-row">
              <img src="../../assets/images/imgs/facebook.png" alt="facebook" class="u-icon-circle facebook-icon">
              <p>פייסבוק</p>
            </a>
          </li>
          <li>
            <a href="#" class="u-center-items-row">
              <img src="../../assets/images/imgs/twitter.png" alt="twitter" class="u-icon-circle twitter-icon">
              <p>טוויטר</p>
            </a>
          </li>
          <li>
            <a href="#" class="u-center-items-row">
              <img src="../../assets/images/imgs/google-plus.png" alt="google-plus" class="u-icon-circle">
              <p>גוגל פלוס</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__container__main--updates u-box">
        <h3>השאר מעודכן</h3>
        <p>הרשם לרשימת התפוצה שלנו ואנו נדאג לעדכן אותך בכל המידע החשוב.</p>
        <div class="opposite-color-text-dark u-center-items-row email-updates">
          <button>
            <img src="../../assets/images/imgs/email.png" alt="email">
          </button>
          <input type="email" placeholder="כתובת הדוא״ל שלך" class="email-input">
          <img src="../../assets/images/imgs/checked.png" alt="checked" class="icon-checked">
        </div>
      </div>
    </div>
    <div class="footer__container__bottom-line">
      <div class="footer__container__bottom-line--text">
        <p>כל הזכויות שמורות</p>
        <p>UI & DESIGN BY: <strong>AVIOZ</strong></p>
      </div>
    </div>
  </div>
</footer>
