<div class="main-body__container__offers--results--header u-small-text">
  <h2 class="result-title">נמצאו {{(agentSandbox.agentsState$ | async)?.length}} סוכנים מתאימים</h2>
  <div class="u-items-row result-subtitle">
    <div class="result-subtitle__right-side u-items-row">
      <p><strong>מיין לפי:</strong></p>
      <select (change)="selectSortByPrice($event)" class="select-regular-small lightred">
        <option value="downToUp"><p>מחיר מהנמוך לגבוה</p></option>
        <option value="upToDown"><p>מחיר מהגבוה לנמוך</p></option>
      </select>
      <button (click)="selectByRating()" class="u-separate-line-right">דירוג סוכן</button>
      <button (click)="selectByNumberOfRaters()" class="u-separate-line-right">מס' המדרגים</button>
    </div>
    <div class="result-subtitle__left-side u-items-row">
      <p class="u-separate-line-right">סינון לפי אזור</p>
      <select (change)="selectSortByLocation($event)" class="select-regular-small">
        <option value=""><p>כל האיזורים</p></option>
        <option value="center"><p>מרכז</p></option>
        <option value="north"><p>צפון</p></option>
        <option value="south"><p>דרום</p></option>
      </select>
    </div>
  </div>
</div>
