<section class="main-body">
  <div class="main-body__container">
    <div class="main-body__container__flow-line">
      <div class="level">
        <img src="../../assets/images/imgs/document.png" alt="document">
        <h2 class="number-text u-bold-500">1</h2>
        <p class="sub-text">ממלאים פרטים להצעת ביטוח</p>
      </div>
      <div class="level">
        <img src="../../assets/images/imgs/arrow-left.png" alt="next" class="icon-next">
      </div>
      <div class="level">
        <img src="../../assets/images/imgs/coins.png" alt="coins">
        <h2 class="number-text u-bold-500">2</h2>
        <p class="sub-text">מקבלים מגוון הצעות משתלמות מסוכני ביטוח</p>
      </div>
      <div class="level">
        <img src="../../assets/images/imgs/arrow-left.png" alt="next" class="icon-next">
      </div>
      <div class="level">
        <img src="../../assets/images/imgs/worker.png" alt="worker">
        <h2 class="number-text u-bold-500">3</h2>
        <p class="sub-text">בוחרים סוכן ביטוח הטוב ביותר</p>
      </div>
      <div class="level">
        <img src="../../assets/images/imgs/arrow-left.png" alt="next" class="icon-next">
      </div>
      <div class="level">
        <img src="../../assets/images/imgs/click.png" alt="click">
        <h2 class="number-text u-bold-500">4</h2>
        <p class="sub-text">רוכשים פוליסה בקליק</p>
      </div>
    </div>
    <div class="main-body__container__offers">
      <!--Right side-->
      <app-search></app-search>
      <!--Left side-->
      <app-agent-list></app-agent-list>
    </div>
  </div>
</section>
