<div class="main-body__container__offers--results--content__result">
  <img src={{agent.imagePath}} alt="company-logo" class="company-logo">
  <div class="company-details">
    <h2 class="company-details__name u-bold-500">{{agent.name}}</h2>
    <p class="company-details__description">{{agent.description}}</p>
    <div class="u-items-row place-rank">
      <a href="#" class="location"><img src="../../assets/images/imgs/location.png" alt="location" class="location-icon"><p>{{agent.location.city}}</p></a>
      <div class="stars">
        <img *ngFor="let in of counter(5-agent.rating)" src="../../assets/images/imgs/emptyStar.png" alt="star" class="star">
        <img *ngFor="let in of counter(agent.rating)" src="../../assets/images/imgs/fullStar.png" alt="star" class="star">
      </div>
    </div>
  </div>
  <div class="buy">
    <div class="price">
      <h2 class="u-big-text">{{agent.price}}</h2>
      <p class="sub-price">פרמיה חודשית</p>
    </div>
    <button class="purchase-button"><img src="../../assets/images/imgs/cart.png" alt="cart" class="cart-icon"><p>לרכישה</p></button>
  </div>
</div>
