// Truncate text from "long text" to "long te.."
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-prop{
  padding:0.1rem;
  margin:0.1rem;
}

.u-small-text{
  font-size: 1.3rem;
  @include text-prop;
}

.u-medium-text{
  font-size: 2rem;
  @include text-prop;
}

.u-big-text{
  font-size: 3rem;
  font-weight: 500;
}

.u-bold {
  font-weight: bold;
}

.u-bold-500{
  font-weight: 500;
}

.opposite-color-text-white{
  background-color: $title1;
  color: #fff;
  padding: .5rem;
  border-radius: .2rem;
  letter-spacing: .2rem;
  font-weight: bold;
}

.opposite-color-text-dark{
  background-color: #fff;
  color: $title1;
  padding: .3rem;
  border-radius: .4rem;
  font-weight: bold;
  *{
    font-size: 2rem;
  }
}

.lightred{
  color: $red-brighter !important;
}

.text-overflow-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
