<div class="main-body__container__offers--search u-small-text">
  <h2 class="line-text search-title">אשף המחיר</h2>
  <p class="search-subtitle">לקבלת הצעת מחיר מותאמת אישית אנא הזן את הפרטים הבאים</p>
  <select class="select-regular">
    <option><p>בחר את סוג הביטוח</p></option>
    <option><p>ביטוח 2</p></option>
  </select>
  <select class="select-calendar">
    <option><p>תאריך תחילת הביטוח</p></option>
    <option><p>ביטוח 2</p></option>
  </select>
  <select class="select-plus">
    <option><p>בחר את סוג הרכב</p></option>
    <option><p>ביטוח 2</p></option>
  </select>
  <select class="select-plus">
    <option><p>מי ינהג ברכב</p></option>
    <option><p>ביטוח 2</p></option>
  </select>
  <select class="select-regular">
    <option><p>מטרת השימוש ברכב</p></option>
    <option><p>ביטוח 2</p></option>
  </select>
  <select class="select-regular">
    <option><p>היכן אתה גר?</p></option>
    <option><p>ביטוח 2</p></option>
  </select>
  <div class="question-line">
    <p>האם היה לך ביטוח מקיף או רכב ליסינג ב-3 שנים האחרונות?</p>
    <div class="radio-container">
      <form>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">כן</span>
        </label>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">לא</span>
        </label>
      </form>
    </div>
  </div>
  <div class="question-line">
    <p>האם היו לך תביעות רכוש ו\או גוף ב-3 שנים האחרונות?</p>
    <div class="radio-container">
      <form>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">כן</span>
        </label>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">לא</span>
        </label>
      </form>
    </div>
  </div>
  <div class="question-line">
    <p>האם לבן הזוג יש רכב נוסף?</p>
    <div class="radio-container">
      <form>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">כן</span>
        </label>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">לא</span>
        </label>
      </form>
    </div>
  </div>
  <div class="question-line">
    <p>האם יש לך עבר פלילי?</p>
    <div class="radio-container">
      <form>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">כן</span>
        </label>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">לא</span>
        </label>
      </form>
    </div>
  </div>
  <div class="question-line">
    <p>האם שללו לך את הרישיון בעבר?</p>
    <div class="radio-container">
      <form>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">כן</span>
        </label>
        <label>
          <input type="radio" name="radio">
          <span class="checkmark">לא</span>
        </label>
      </form>
    </div>
  </div>
  <img src="../../assets/images/imgs/banner.png" alt="banner" class="banner">
</div>
