<div class="search-modal" [@searchModal]="modalState">
  <form
    [formGroup]="searchForm"
    (ngSubmit)="onSearch()"
    class="search-modal__form">
    <input
    type="text"
    id="search"
    class="search-modal__form--input"
    formControlName="search"
    >
    <button class="search-modal__form--button" type="submit">חפש</button>
  </form>
</div>
