<div class="main-body__container__offers--results">
  <app-filters></app-filters>

  <div class="main-body__container__offers--results--content">
      <app-agent *ngFor="let agent of (agentSandbox.agentsState$ | async); let i = index" [agent]="agent"></app-agent>
    <div class="pages">
      <a href="#"><p class="u-medium-tex2t">1</p></a>
      <a href="#"><p class="u-medium-te2xt">2</p></a>
      <a href="#"><p class="u-medium-text">3</p></a>
      <a href="#"><p class="u-medium-text">4</p></a>
      <a href="#"><p class="u-medium-text">5</p></a>
      <a href="#"><p class="u-medium-text">6</p></a>
    </div>
  </div>
</div>
