@import './styles/app';

@font-face {
  font-family: 'Raleway';
  font-style: 100;
  font-weight: normal;
  src: url("./assets/fonts/Raleway-Thin.woff2");
}

@font-face {
  font-family: 'Raleway';
  font-style: 600;
  font-weight: normal;
  src: url("./assets/fonts/Raleway-SemiBold.woff2");
}


@font-face {
  font-family: 'Webfont';
  src: url("./assets/fonts/fbspoilersp-regularwebfont.woff")

}
