
// Breakpoints
$breakpoints: (
  'nomedia':  4000px,
  'xxlarge':  1400px,
  'xlarge':   1140px,
  'mlarge':   1024px,
  'large':    992px,
  'XLmedium': 920px,
  'Lmedium':  845px,
  'medium':   768px,
  'Smedium':  600px,
  'Lsmall' :  560px,
  'small':    540px,
  'XMsmall':  500px,
  'Xsmall':   385px,
);

//size
$main-width-lg-screen: 1150px;
$footer-width-lg-screen: 1200px;
$main-width-mobile-screen: 800px;
$footer-padding-header: 6.5rem;
$footer-padding-header-tablet: 2rem;
$footer-padding-header-mobile: 3.5rem;
$header-height: 36rem;
$header-height-mobile: 18rem;
$header-main-width: 66.5rem;

//My Breakpoints
$break1: "(min-width: #{$main-width-lg-screen})";
$break2: "(min-width: #{$main-width-mobile-screen}) and (max-width: #{$main-width-lg-screen})";
$break3: "(max-width: #{$main-width-mobile-screen})";

// Set Colors
$windowColor: #ffffff;
$small-title: #2c3f48;
$user-zone-font-color: #224c5f;
$red-brighter: #ff595f;
$red-brighter-hover: #fd4f56;
$inputColor: #000000;
$inputBlue: #55727f;
$title1: #33455d;
$title2: #457184;
$mobile: #4f788a;
$title3: #fff;
$innerBG: #f3f6f8;
$startHere: #00d3e6;
$magazine-border: #d9e4ea;
$darker-magazine-border: #cfdce3;
$footer-logos: #d8e4ea;
$footer-separator: #425766;
$footer-social-icon: #edf4f7;
$footer-background2: #2a394d;
$button-hover: #6dc6c1;
$blue-grey: #4f788a;
$grey-seperator: #d8d8d8;
$grey-background: #f8fafa;
$greyer-background: #f9fbfd;
$grey-text: #667880;
$insurance-border: #e9eff2;
$expand-button: #00c7d9;
$validator-bar-background: #d5dadf;
$validator-bar-active: #72ae31;
$donut-chart-background: #fbd1d3;
$donut-chart-rating: #ff4344;
$link-color: #00aeec;
$dark-grey-background: #f5f7f9;
$pagination-hover: #bbd7dd;
$login-popup-text: #506074;
$revolution_grid_border: #e6ebee;
$edit_box_text: #4e626b;
$edit_box_text: #4e626b;
$white: #fff;
$black: #000;
$backdrop: rgba(0, 0, 0, .75);
// Font awesome path
$fa-font-path: "../../bower_components/components-font-awesome/fonts";

// Set typography
$text-sizing: (
  'body': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 16px,
      'line-height': 16px,
    )
  ),
  'logo_font': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 22px,
      'line-height': 22px,
    )
  ),
  'user-zone-tabs': (
    'nomedia': (
            'font-family': 'SpoilerHE',
            'font-size': 19px,
            'line-height': 19px,
    )
  ),
  'insurance-header': (
    'nomedia': (
            'font-family': 'SpoilerHE',
            'font-size': 20px,
            'line-height': 20px,
    ),
    'Lsmall': (
            'font-family': 'SpoilerHE',
            'font-size': 17px,
            'line-height': 17px,
    )
  ),
  'insurance-content': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 18px,
      'line-height': 18px,
    ),
    'Lsmall': (
      'font-family': 'SpoilerHE',
      'font-size': 17px,
      'line-height': 17px,
    )
  ),
  'large-page-header-title': (
    'nomedia': (
            'font-family': 'SpoilerHE',
            'font-size': 55px,
            'line-height': 55px,
    ),
    'small': (
            'font-family': 'SpoilerHE',
            'font-size': 35px,
            'line-height': 35px,
    )
  ),
  'large-page-header-desc': (
          'nomedia': (
                  'font-family': 'SpoilerHE',
                  'font-size': 26px,
                  'line-height': 30px,
          ),
          'medium': (
                  'font-family': 'SpoilerHE',
                  'font-size': 22px,
                  'line-height': 24px,
          ),
          'Lsmall': (
                  'font-family': 'SpoilerHE',
                  'font-size': 20px,
                  'line-height': 24px,
          )
  ),

  'search_intro': (
    'nomedia': (
        'font-family': 'SpoilerHE',
        'font-size': 88px,
        'line-height': 80px,
    ),
    'large': (
        'font-family': 'SpoilerHE',
        'font-size': 70px,
        'line-height': 70px,
    ),
    'medium': (
      'font-family': 'SpoilerHE',
      'font-size': 60px,
      'line-height': 60px,
    ),
    'Lsmall': (
      'font-family': 'SpoilerHE',
      'font-size': 50px,
      'line-height': 50px,
    ),
    'small': (
      'font-family': 'SpoilerHE',
      'font-size': 35px,
      'line-height': 35px,
    )
  ),
  'search_intro_sub': (
    'nomedia': (
            'font-family': 'SpoilerHE',
            'font-size': 35px,
            'line-height': 35px,
    ),
    'large': (
            'font-family': 'SpoilerHE',
            'font-size': 30px,
            'line-height': 30px,
    ),
    'medium': (
            'font-family': 'SpoilerHE',
            'font-size': 28px,
            'line-height': 28px,
    ),
    'Lsmall': (
            'font-family': 'SpoilerHE',
            'font-size': 24px,
            'line-height': 24px,
    ),
    'small': (
            'font-family': 'SpoilerHE',
            'font-size': 18px,
            'line-height': 18px,
    )
  ),
  'search_input': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 20px,
      'line-height': 20px,
    ),
  'small': (
          'font-family': 'SpoilerHE',
          'font-size': 16px,
          'line-height': 16px,
  ),

  ),
  'logo_font2': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 20px,
      'line-height': 20px,
    ),
    'xlarge': (
      'font-family': 'SpoilerHE',
      'font-size': 15px,
      'line-height': 15px,
    )
  ),
  'revolution_grid_title': (
    'nomedia': (
      'font-family': ('SpoilerHE','SpoilerEN'),
      'font-size': 28px,
      'line-height': 1,
    ),
    'large': (
      'font-family': 'SpoilerHE',
      'font-size': 25px,
      'line-height': 1,
    ),
    'medium': (
      'font-family': 'SpoilerHE',
      'font-size': 22px,
      'line-height': 1,
    ),
    'small': (
        'font-family': 'SpoilerHE',
        'font-size': 22px,
        'line-height': 1,
    ),
    'Lsmall': (
        'font-family': 'SpoilerHE',
        'font-size': 22px,
        'line-height': 1,
    ),
  ),
  'revolution_grid_title_big': (
          'nomedia': (
                  'font-family': ('SpoilerHE','SpoilerEN'),
                  'font-size': 40px,
                  'line-height': 1,
          ),
          'large': (
                  'font-family': 'SpoilerHE',
                  'font-size': 32px,
                  'line-height': 1,
          ),
          'medium': (
                  'font-family': 'SpoilerHE',
                  'font-size': 30px,
                  'line-height': 1,
          ),
          'small': (
                  'font-family': 'SpoilerHE',
                  'font-size': 28px,
                  'line-height': 1,
          ),
          'Lsmall': (
                  'font-family': 'SpoilerHE',
                  'font-size': 28px,
                  'line-height': 1,
          ),
  ),
  'revolution_grid_text': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 20px,
      'line-height': 1,
    ),
  ),
  'how_its_works_grid_title': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 24px,
      'line-height': 1,
    ),
    'small': (
      'font-family': 'SpoilerHE',
      'font-size': 20px,
      'line-height': 1,
    ),
  ),
  'how_its_works_title': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 48px,
    ),
    'small': (
      'font-family': 'SpoilerHE',
      'font-size': 30px,
    ),
  ),
  'mini_paragraph_title': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 22px,
      'line-height': 1
    )
  ),
  'fluid_text': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 18px,
      'line-height': 1
    )
  ),
  'mega_title': (
    'nomedia': (
      'font-family': 'SpoilerHE',
      'font-size': 55px,
      'line-height': 1
    )
  ),
  'grid_main_titles': (
    'nomedia': (
            'font-family': 'SpoilerHE',
            'font-size': 24px,
            'line-height': 1,
    ),
    'small': (
            'font-family': 'SpoilerHE',
            'font-size': 20px,
            'line-height': 1,
    ),
  ),
);
