*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  //@include ltr {
  //  direction: ltr;
  //}
  //@include rtl {
  //  direction: rtl;
  //}
  direction: rtl;
  font-family: 'Webfont', sans-serif;
}

h1{
  font-size: 5.5rem;
  @include text-prop;
}

h2{
  font-size: 2.4rem;
  @include text-prop;
}

h3{
  font-size: 1.8rem;
  @include text-prop;
}

p{
  font-size: 1.8rem;
  @include text-prop;
}

button {
  border:none;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
}
button:hover{
  opacity:0.9;
}
a{
  text-decoration: none;
  cursor: pointer;
}

select{
  background-color: transparent;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li{
  padding-bottom: .2rem;
  cursor: pointer;
}

// Containers
.primary-container {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

